<div class="container col-md-6">
  <div class="overflow-auto">
    <div class="container card mt-5 bg-dark">
      <div class="card-body p-4">
        <div class="text-center">
          <%= image_tag @user.image.url, class: "rounded-circle" if @user.image? %>
        </div>
        <p>Username: <%= @user.username %></p>
        <p>Email: <%= @user.email %></p>
        <p>Coins: <%= @user.coins %></p>
        <div class="text-center">
          <%= link_to 'Cash in Now', "#", class: "btn btn-light w-100" %>
          <ul class="nav nav-pills nav-justified mt-3 mb-3 hstack gap-3">
            <li class="nav-item"><%= link_to 'Edit Profile', edit_user_registration_path, class: "btn btn-outline-light w-100" %>
            </li>
            <li class="nav-item"><%= link_to 'Address', clients_addresses_path, class: "btn btn-outline-light w-100" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>