<div class="container-fluid">
  <div class="row flex-nowrap">
    <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark border-top">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
          <li class="nav-item">
            <span class="nav-link align-middle px-0 fs-4 bi-house"><%= link_to 'Home', admin_admin_root_path, class: "ms-1 d-none d-sm-inline" %></span>
          </li>
          <li>
            <a href="#submenu2" data-bs-toggle="collapse" class="nav-link px-0 align-middle ">
              <i class="fs-4 bi bi-people"></i> <span class="ms-1 d-none d-sm-inline">Member Management</span></a>
            <ul class="collapse nav flex-column ms-1" id="submenu2" data-bs-parent="#menu">
              <li class="w-100">
                <%= link_to 'User List', admin_users_path, class: "nav-link px-0" %>
              </li>
              <li>
                <%= link_to 'Item List', admin_items_path, class: "nav-link px-0" %>
              </li>
              <li>
                <%= link_to 'Bet List', admin_bets_path, class: "nav-link px-0" %>
              </li>
              <li>
                <%= link_to 'Winner List', admin_winners_path, class: "nav-link px-0" %>
              </li>
              <li>
                <%= link_to 'Offer List', admin_offers_path, class: "nav-link px-0" %>
              </li>
              <li>
                <%= link_to 'Order List', admin_orders_path, class: "nav-link px-0" %>
              </li>
              <li>
                <%= link_to 'Invite List', admin_invite_lists_path, class: "nav-link px-0" %>
              </li>
            </ul>
          </li>
          <li>
            <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
              <i class="fs-4 bi bi-person-gear"></i> <span class="ms-1 d-none d-sm-inline">Example 2 Management</span>
            </a>
            <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
              <li class="w-100">
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Example</span> 1</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Example</span> 2</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Example</span> 3</a>
              </li>
              <li>
                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Example</span> 4</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
    <div class="container-list col-10 py-2">
      <span class="notice text-center"><%= notice %></span>
      <span class="alert text-center text-danger"><%= alert %></span>
      <%= yield %>
    </div>
  </div>
</div>
