<h1>Users Lists</h1>
<table class="table table-bordered table-hover text-center">
  <thead>
  <th>Id</th>
  <th>email</th>
  <th>Phone</th>
  <th>Coins</th>
  <th>Total Deposit</th>
  <th>Children Members</th>
  <th>Parent email</th>
  </thead>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.phone %></td>
      <td><%= user.coins %></td>
      <td><%= user.total_deposit %></td>
      <td><%= user.children_members %></td>
      <td><%= user.parent&.email %></td>
    </tr>
  <% end %>
</table>