<main>
  <section class="text-center">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="10000" style="object-fit: cover">
              <%= image_tag ("img1.jpeg"), class: "d-block w-100" %>
            </div>
            <div class="carousel-item" data-bs-interval="2000">
              <%= image_tag ("img2.jpeg"), class: "d-block w-100" %>
            </div>
            <div class="carousel-item">
              <%= image_tag ("img3.jpeg"), class: "d-block w-100" %>
            </div>
          </div>
          <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
    </div>
  </section>
</main>
</div>


<div class="bg-dark" style="margin-bottom: 0">
  <p class="container text-white">Announcement: </p>
</div>
<div class="container">
  <%= button_to 'Button', '', class: "btn btn-primary w-100 mb-3" %>
</div>

<section style="padding-top: 10px; height: 100vh">
  <div class="container overflow-hidden">
    <h4>Winners Feedback</h4>
    <% @winners.each do |winner| %>
      <div class="card mt-1 text-black mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-sm-4">
              <%= image_tag winner.image.url, style: 'height:100%; width: 100%' if winner.image? %>
            </div>
            <div class="col-sm-8 mt-4">
              <h5><%= winner.user.username %></h5>
              <h4><%= winner.comment %></h4>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</section>

