<div class="container" style="margin-top: 100px; height: 100vh">
  <div class="card border-0">
    <h5 class="card-header text-light text-center bg-dark">Claim Prize</h5>
    <div class="card-body m-3 text-black">
      <h3>Winning Bet</h3>
      <div>Serial Number: <%= @winner.bet.serial_number %></div>
      <div>Item Name: <%= @winner.item.name %></div>
      <div>Date Created: <%= @winner.created_at %></div>
      <div class="mt-3">
        <%= form_for @winner, url: clients_share_path(@winner), method: :put, data: { turbo: false } do |form| %>
          <div class="field">
            <%= form.label :image %>
            <%= form.file_field :image, class: 'form-control' %>
          </div>
          <div class="field">
            <%= form.label :comment %>
            <%= form.text_area :comment, class: 'form-control form-control-sm' %>
          </div>
          <div class="row">
            <div class="col-sm-2">
              <%= form.submit "Share", class: 'border btn form-control mt-2' %>
            </div>
            <div class="col-sm-2">
              <%= link_to "Back", clients_profiles_path(history: 'winner'), class: 'border btn form-control mt-2' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
</div>