<!DOCTYPE html>
<html>
  <head>
    <title>App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  </head>
  <body style="background-color: #121212" class="text-white">
    <%= render 'layouts/clients_form/client_header_form' %>
    <span class="notice text-center"><%= notice %></span>
    <span class="alert text-center text-danger"><%= alert %></span>
    <%= yield %>
    <%= render 'layouts/clients_form/client_footer_form' %>
  </body>
</html>
